.strength-container {
  background: red;
}

.strength-header {
  font-size: 1.3em;
  font-weight: bold;
}

.strength-content {
  display: flex;
  justify-content: space-around;
}

.sub-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.sub-header {
  font-size: 1.1em;
  font-weight: bold;
}

.sub-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.sub-content > p {
  margin: .5em;
}
