.attr-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.attr-header {
  font-size: 1.3em;
  font-weight: bold;
  background: #748179;
  margin-top: 0;
  padding: .8em;
  border-radius: .6em;
  border-bottom: solid .001em;
}

.attr-content {
  margin: 1em;
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 0;
  grid-template-columns: repeat(3, 1fr);
}

.attr-content > p {
  font-size: 1.2em;
}
