.App {
  background: #707179;
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.error {
  font-size: 2em;
  color: darkred;
  font-weight: bolder;
}
