.health-armor-header {
  font-size: 1.3em;
  font-weight: bold;
  background: #748179;
  margin-top: 0;
  padding: .8em;
  border-radius: .6em;
  border-bottom: solid .001em;
}

.health-armor {
  padding: .5em 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
