.rating-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  padding: 1em;
  overflow-y: scroll;
}

.rating-list-container::-webkit-scrollbar {
  display: none;
}

.rating-list-item {
  background: #89948C;
  text-decoration: none;
  font-size: 1.5em;
  color: inherit;
  border-radius: .2em;
  border: solid .001em;
  box-shadow: .17em .15em .2em;
}

.rating-list-item:hover {
  transform: scale(1.05);
}
