nav {
  background: #2F424C;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ACC9A6;
}

.link {
  text-decoration: none;
  color: inherit;
}

.nav-links {
  display: flex;
}

.nav-links > p {
  margin: 1.2em;
}


.link:hover {
  text-decoration: underline;
}
