nav {
  background: lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: inherit;
}

.nav-links {
  display: flex;
}

.nav-links > p {
  margin: 1.2em;
}
