.monster-container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.monster-container::-webkit-scrollbar {
  display: none;
}

.monster-container > section {
  background: #89948C;
  margin: 1.2em 0;
  border-radius: .8em;
  border: solid .001em;
  box-shadow: .17em .15em .2em;
}

.monster-name {
  font-size: 3em;
  font-weight: bolder;
}

.fav-button {
  background: #3E3E42;
  color: #ACC9A6;
  width: 100px;
  height: auto;
  margin: 1em;
  padding: 1em;
  border: none;
  border-radius: .2em;
}

.fav-button:hover {
  cursor: pointer;
}

.fav-button:active {
  background: #ACC9A6;
  color: #3E3E42;
}
