.monster-container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.monster-container::-webkit-scrollbar {
  display: none;
}

.monster-container > section {
  background: #89948C;
  margin: 1.2em 0;
  border-radius: .8em;
  border: solid .001em;
  box-shadow: .17em .15em .2em;
}

.monster-name {
  font-size: 3em;
  font-weight: bolder;
}
