.monster-container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.monster-container::-webkit-scrollbar {
  display: none;
}

.monster-container > section {
  margin: 1.2em 0;
  border-radius: .8em;
}

.monster-name {
  font-size: 2em;
}
